html{
  background-image: url('http://giant.gfycat.com/AdolescentSaltyKoala.gif');
  background-size: 100%;
}
#title{
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  
  text-align: center;
  margin-top: 25%;
  
  background: #282828;
  border: 3px solid #282828;
  border-radius: 3px;
  
  box-shadow: 1px 3px 3px dimgray;
  
  font-size: 40px;
  
}
#btnPlay{
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  
  width: 100px;
  
  background: #282828;
  border: 3px solid #282828;
  border-radius: 3px;
  
  box-shadow: 1px 3px 3px dimgray;
  
  margin-left: 45%;
 
  text-align: center;
  
  font-size: 45px;
}
a{
    color: white;
    text-decoration: none;
}